<header>
    <a class="otro" href="/elegirPlantilla/soloElegirPlantilla">⤺Cambiar diseño</a>
    <a href="/home"><img src="../../img/LogoMakr-8VCzkk.png" class="logo" alt="logo"></a>
    <a class="otro" href="/elegirPlantilla/imprimirBasico">⭳Descargar</a>
</header>